In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt#约定俗成的写法plt

In [10]:
dt = pd.read_excel('C:\\Users\\kongzi\\Desktop\\处理数据\\test.xlsx',names = ['时间','速度'])

In [11]:
dt

                      时间        速度
0    2014-08-23 06:01:00  0.440966
1    2014-08-23 06:02:00  0.660672
2    2014-08-23 06:03:00  0.870635
3    2014-08-23 06:04:00  1.091571
4    2014-08-23 06:05:00  1.306369
5    2014-08-23 06:06:00  1.520552
6    2014-08-23 06:07:00  1.759837
7    2014-08-23 06:08:00  1.987882
8    2014-08-23 06:09:00  2.217199
9    2014-08-23 06:10:00  2.434532
10   2014-08-23 06:11:00  2.665760
11   2014-08-23 06:12:00  2.887162
12   2014-08-23 06:13:00  3.126959
13   2014-08-23 06:14:00  3.348836
14   2014-08-23 06:15:00  3.591160
15   2014-08-23 06:16:00  3.843215
16   2014-08-23 06:17:00  4.122943
17   2014-08-23 06:18:00  4.387651
18   2014-08-23 06:19:00  4.649698
19   2014-08-23 06:20:00  4.910130
20   2014-08-23 06:21:00  5.177669
21   2014-08-23 06:22:00  5.443440
22   2014-08-23 06:23:00  5.702591
23   2014-08-23 06:24:00  5.930715
24   2014-08-23 06:25:00  6.172132
25   2014-08-23 06:26:00  6.375064
26   2014-08-23 06:27:00  6.584635
27   2014-08-23 06:28:00  6.802095
28   2014-08-23 06:29:00  7.052377
29   2014-08-23 06:30:00  7.288492
...                  ...       ...
1049 2014-08-23 23:30:00  9.148715
1050 2014-08-23 23:31:00  9.156311
1051 2014-08-23 23:32:00  9.163920
1052 2014-08-23 23:33:00  9.148607
1053 2014-08-23 23:34:00  9.156844
1054 2014-08-23 23:35:00  9.139674
1055 2014-08-23 23:36:00  9.131264
1056 2014-08-23 23:37:00  9.126775
1057 2014-08-23 23:38:00  9.120349
1058 2014-08-23 23:39:00  9.067292
1059 2014-08-23 23:40:00  9.049882
1060 2014-08-23 23:41:00  9.043319
1061 2014-08-23 23:42:00  9.051770
1062 2014-08-23 23:43:00  9.045652
1063 2014-08-23 23:44:00  9.064804
1064 2014-08-23 23:45:00  9.062034
1065 2014-08-23 23:46:00  9.048483
1066 2014-08-23 23:47:00  9.061138
1067 2014-08-23 23:48:00  9.069356
1068 2014-08-23 23:49:00  9.065561
1069 2014-08-23 23:50:00  9.048315
1070 2014-08-23 23:51:00  9.033340
1071 2014-08-23 23:52:00  9.006017
1072 2014-08-23 23:53:00  9.029064
1073 2014-08-23 23:54:00  9.043752
1074 2014-08-23 23:55:00  9.042490
1075 2014-08-23 23:56:00  9.042741
1076 2014-08-23 23:57:00  9.032621
1077 2014-08-23 23:58:00  9.047800
1078 2014-08-23 23:59:00  9.056682

[1079 rows x 2 columns]

In [12]:
#假设8点经过该拥挤路段，该路段两端纬经度为（30.6214，104.094），（30.6195，104.058）
from math import radians,cos,sin,asin,sqrt
def geodistance(lat1,lng1,lat2,lng2):
    #经纬度换算成弧度
    lat1,lng1,lat2,lng2= map(radians,[float(lat1),float(lng1),float(lat2),float(lng2)])
    dlon = lng2-lng1
    dlat = lat2-lat1
    a = sin(dlat/2)**2 + cos(lat1)*cos(lat2)*sin(dlon/2)**2
    distance = 2*asin(sqrt(a))*6371*1000#地球平均半径，6371km
    #distance = round(distance/1000,3)
    return distance

In [13]:
L = geodistance(30.6214,104.094,30.6195,104.058)
#此为该路段长度
L

3451.310223186538

In [38]:
#计算通过此路段时间
#计算早上八点所在行
def v_start(dt,time):
    for i in range(len(dt)):
        if str(dt['时间'][i]) == time:
            a= i
            return a
#v = v_start(dt,'2014-08-23 08:00:00')
def time_end(L,dt,time):
    v = v_start(dt,time)
    sum = 0
    for i in range(v,len(dt)):
        sum += dt['速度'][i]*60
        if sum <L:
            continue
        else:
            #
            t =(L-(sum - dt['速度'][i-1]*60))/dt['速度'][i]
            end = i-v+t/60
            return end
end_time = time_end(L,dt,'2014-08-23 08:00:00')

In [39]:
end_time

6.985974246636439

In [20]:
dt['时间'][1]

Timestamp('2014-08-23 06:02:00')